/* CSS Document */
.control-group .chzn-container
{
    min-width: 50%;
}
#attrib-configuration .controls
{
	margin-left: 0;
}
.extended-width
{
	min-width:90%;
}
.column-count-md-2,
.column-count-lg-3
{
	column-count: 1 !important;
}